body{
    background-color: #050505;
}

.construction{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;
    font-family: "League Spartan", sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #e5e5e5;
    display: flex;
    flex-direction: column;
}

img{
    width: 10%;
    padding-top: 50px;
}

/*Footer*/
.frow:after {
  content: "";
  display: table;
  clear: both;
}

.ffunc{
    float: left;
    width: 33.33%;
}

.FAQ{
    font-family: "League Spartan", sans-serif;
    color: #e5e5e5;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 40px;
}

.LN{
    font-family: "League Spartan", sans-serif;
    color: #e5e5e5;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 40px;
}

.CU{
    font-family: "League Spartan", sans-serif;
    color: #e5e5e5;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 40px;
}

.fsocial{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
}

.fsociali{
    color: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.IT{
    font-family: "League Spartan", sans-serif;
    color: #e5e5e5;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 40px;
}

.EN{
    font-family: "League Spartan", sans-serif;
    color: #e5e5e5;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 40px;
}

.HK{
    font-family: "League Spartan", sans-serif;
    color: #e5e5e5;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 40px;
}

.CN{
    font-family: "League Spartan", sans-serif;
    color: #e5e5e5;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 40px;
}