html{
    margin: 0;
    padding: 0;
}

body{
    background-color: #050505;
    font-family: "League Spartan", sans-serif;
    color: #e5e5e5;
    margin: 0;
    padding: 0;
}

/*Nav*/
.nav{
    background: transparent;
    position: relative;
    z-index: 1;
}

.nrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.nlogo{
    display: block;
    align-items: center;
}

.nlogo img {
    width: 112px;
    height: auto;
}

.nfunc{
    display: flex;
    gap: 20px;
}

.nlink {
    text-decoration: none;
    color: #e5e5e5;
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    font-size: 20px;
    background-color: #f82322;
    padding: 13px;
}

.nlink:hover {
    transition-duration: 0.3s;
    color: #e48f11;
    background-color: #e5e5e5;
}

/*site*/
.herosec{
    position: relative;
    min-height: 500px;
}

#contactustemp{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    opacity: 30%;
}

.hero{
    font-family: "League Spartan", sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 60px;
    line-height: 10px;
    position: relative;
    z-index: 1;
}

.filmmaking {
    font-family: "League Spartan", sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 70px;
    line-height: 0px;
}

.xclam{
    width: 20px;
    height: 20px;
    fill: #f82322;
}

.wbanner{
    position: relative;
    text-align: center;
    background-color: #111197;
    height: 40px;
    padding-top: 10px;
}

.wbanner p{
    margin-top: 0;
    margin-bottom: 0;
}

/*Footer*/
.frow:after {
  content: "";
  display: table;
  clear: both;
}

.ffunc{ 
    float: left;
    width: 33.33%;
    margin-bottom: 50px;
    margin-top: 20px;
}

.FAQ{
    font-family: "League Spartan", sans-serif;
    color: #e5e5e5;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 40px;
}

.LN{
    font-family: "League Spartan", sans-serif;
    color: #e5e5e5;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 40px;
}

.CU{
    font-family: "League Spartan", sans-serif;
    color: #e5e5e5;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 40px;
}

.fsocial{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100%;
}

.fsociali {
    fill: #e5e5e5;
    transition: fill 0.3s ease;
}

.fsociali:hover {
    fill: #e48f11;
}

.followus {
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #e5e5e5;
    text-align: center;
}

.IT{
    font-family: "League Spartan", sans-serif;
    color: #e5e5e5;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 40px;
}

.EN{
    font-family: "League Spartan", sans-serif;
    color: #e5e5e5;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 40px;
}

.HK{
    font-family: "League Spartan", sans-serif;
    color: #e5e5e5;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 40px;
}

.CN{
    font-family: "League Spartan", sans-serif;
    color: #e5e5e5;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 40px;
}

.copyright{
    font-family: "League Spartan", sans-serif;
    color: #e5e5e5;
    text-align: center;
    margin-bottom: 38px;
}

@media (max-width: 768px) {
    /*navbar*/
    .nrow {
    padding: 10px;
    }

    .nlogo img {
    width: 82px;
    height: auto;
    margin-bottom: 27px;
    }
    
    .herosec{
        position: relative;
        min-height: 400px;
    }

    .hero{
        font-size: 25px;
    }

    .filmmaking {
        font-size: 55px;
        padding-top: 40px;
    }

    .wbanner{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    /*footer*/
    .nfunc{
    display: flex;
    gap: 15px;
    }

    .nlink {
    font-size: 15px;
    padding: 10px;
    }

    .ffunc {
        float: none;
        width: 100%;
        text-align: center;
    }

    .Logo {
        width: 25%;
        padding-top: 30px;
    }
}